{minimum_otp_vsn, "20.0"}.

{erl_opts, [debug_info]}.
{deps, []}.

{edoc_opts, [{dir, "docs"}, {preprocess, true}]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C rustler"},
   {"(freebsd)", compile, "gmake -C rustler"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C rustler clean"},
   {"(freebsd)", clean, "gmake -C rustler clean"}]}.

%% Enable test coverage reports
{cover_enabled, true}.

%% xref configurations
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls, deprecated_functions]}.

{profiles, [
            {test, [{deps, [
                            {meck, ".*",{git, "https://github.com/eproxus/meck.git", {tag, "0.8.8"}}}
                           ]}
                   ]}
]}.
